{% extends 'base.html' %}
{% load static %}

{% block page_content %}

    <!--Edit Page-->
    <section class="editPage">
        <div class="row">
            <div class="col-6">
                <form method="post"
                      action="{% url 'edit_album' album.pk %}">
                    <fieldset>
                        <legend>Edit Album</legend>
                        <div class="container">

                            <!-- Form for Editing Album -->
                            {% csrf_token %}
                            {{ form }}

                            <!-- Button for Editing Album -->
                            <button class="edit-album"
                                    type="submit">Edit Album
                            </button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </section>

{% endblock %}