{% extends 'base.html' %}
{% load static %}

{% block page_content %}
    <!--Details Page-->
    <section id="detailsPage">
        <div class="wrapper">
            <div class="row">
                <div class="col-6">
                    <img class="img-fluid"
                         src="https://www.pngfind.com/pngs/m/610-6104451_image-placeholder-png-user-profile-placeholder-image-png.png"
                         alt="Profile Image"
                         style=" max-width: 200px;"
                    >
                    <div class="profileText">
                        <!-- Profile Info -->
                        <h1>Username: {{ user.username }}</h1>
                        <h1>Email: {{ user.email }}</h1>
                        {#            {% if profile.age %}#}
                        {#            <h1>Age: {{ profile.age }}</h1>#}
                        {#            {% endif %}#}
                        {#            <h1>Albums: {{ albums_count }}</h1>#}
                    </div>

                    <div class="actionBtn">
                        <!-- Button for Deleting the Profile -->
                        <a href="{% url 'delete_profile' %}"
                           class="remove">Delete</a>
                    </div>
                </div>
            </div>

        </div>
    </section>


{% endblock %}